version: '3.8'

services:
  backend:
    build: ./backend
    container_name: chatify-backend
    ports:
      - 3000:3000
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: chatify-frontend
    ports:
      - 5173:80
    depends_on:
      - backend

